<div class="banner">
    <div class="content">
        <h1 class="mb-5">Primeiro <br>
            Website em Angular</h1>
            <a routerLink="menu"> <i class="bi bi-arrow-right"></i> Fazer Pedido</a>
    </div>
</div> 
<br>

    <div class="title">
        <h1>
            Como obter uma refeição!!
        </h1>
    </div>
    <div class="blocos">
        <p> 1 </p>
        <h2> Selecione Tipo </h2>
        
    </div>
    <div class="blocos">
        <p> 2 </p>
        <h2> Preencha os detalhes </h2>
        
    </div>
    <div class="blocos">
        <p> 3 </p>
        <h2> Entrega do pedido em minutos </h2>
        
    </div>
